.users_list_wrapper{
    background-color: rgba(168, 168, 188, 0.789);
    color: rgb(0, 0, 0);
    padding: 10px;
}

.chat_wrapper{
    gap: 20px;
}
.messge_wrapper{
    gap: 10px;
}
.users_list{
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px
}

.message_text{
    resize: none;
}